/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* utilities */

.flex{
    display: flex;
}

.container{
    width: 70%;
    margin: auto;
}

.padding-top2-5{
    padding-top: 2.5rem;
}
/* header */

.menu_nav{
    height: 3rem;
}

.left_nav{
    width: 50%;
    background-color: orange;
    border: 1px solid black;
}

.right_nav{
    width: 50%;
    background-color: orange;
    border: 1px solid black;
}

/* heading */

.hero{
    background-color: #b4d0e7;
    height: 30rem;
}

.row_hero{
    width: 100%;
    height: 25rem;
    background-color: yellow;
}