/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* utilities */

.flex{
    display: flex;
}

.container{
    width: 70%;
    margin: auto;
}

.small_container{
    width: 60%;
    margin: auto;
}

.padding-top2-5{
    padding-top: 2.5rem;
}

.bg_white{
    background-color: white;
}

.m-top5{
    margin-top: 5rem;
}
/* header */

.left_nav{
    width: 50%;
    background-color: white;
    padding: 1rem;
}

.right_nav{
    width: 50%;
    background-color: white;
    padding: 1rem;
    justify-content: end;
}

#small_logo{
    margin-right: 1rem;
}

.left_menu > ul{
    list-style: none;
    gap: 1rem;
}

.right_menu > ul{
    list-style: none;
    gap: 1rem;
}

.left_menu{
    align-items: center;
    font-size: 0.8rem;
}

.right_menu{
    align-items: center;
    font-size: 0.8rem;
}

.start{
    margin-left: 1rem;
    padding: 0.5rem 0.75rem;
    font-size: 0.8rem;
    border: none;
    background-color: #0061ff;
    color: white;
}


nav a{
    color: #a6a6a6;
    text-decoration: none;
}

/* heading */

.hero{
    background-color: #b4d0e7;
    height: 30rem;
}

.row_hero{
    width: 100%;
    height: 25rem;
    background-color: yellow;
}

/* main */

/* plans */

.plans_text{
    width: 100%;
    height: 7rem;
    background-color: green;
    margin-top: 2rem;
}

.row_plans{
    justify-content: space-between;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.col_plans{
    width: calc(100% / 3 - 1rem);
    height: 30rem;
    background-color: aqua;
}

.col-12_plans{
    width: 100%;
    background-color: aqua;
    margin-top: 1rem;
    height: 10rem;
}


.col_partner_left{
    width: 60%;
    height: 20rem;
    background-color: blueviolet;
}

.col_partner_right{
    width: 40%;
    height: 20rem;
    background-color: rgb(216, 174, 50);
}

.row_business{
    justify-content: space-between;
    flex-wrap: wrap;
}

.col_business{
    width: calc(100% / 3 - 1rem);
    height: 20rem;
    background-color: aqua;
    margin-top: 2rem;
}

.banner_content{
    width: 100%;
    height: 15rem;
    background-color: rgb(188, 62, 23);
}

.col_team{
    width: calc(100% / 3);
    background-color: aqua;
    border: 1px solid black;
    aspect-ratio: 1 / 1;
}


.row_col_team{
    width: 100%;
    flex-wrap: wrap;
}

.col_team{
    flex-wrap: wrap;
}

.col_logo_team{
    height: calc(100% / 2);
    aspect-ratio: 1 / 1;
    background-color: yellow;
    border: 1px solid black;
}

.team_banner_bottom{
    background-color: #b4d0e7;
}

.question_content{
    width: 100%;
    height: 15rem;
    background-color: rgb(188, 23, 144);
}

/* footer */

#app-footer{
    background-color: #000000;
}

.row_footer{
    margin-left: -1rem;
    margin-right: -1rem;
}

.col_footer{
    width: calc(100% / 5);
    margin-left: 1rem;
    margin-right: 1rem;
    height: 15rem;
    background-color: aqua;
    margin-top: 2rem;
    border: 1px solid black;
}